
{{#each beersFromApi}}

<div id="beer-container"> 
<div> 
  <img id ="beer-img" src="{{this.image_url}}"  width="100px">
</div>

<div id ="beers-info"> 
    <p>{{this.name}}</p>
    <p>{{this.description}}</p>
</div>

</div>

{{/each}}