<img src="images/beer.png" alt="beer" width="300px">



<div>
<form>
    <a href="/beers">
        <input type="button" value="Check the Beers!">
    </a>
</form>
</div>



<div>
    <form>
    <a href="/random-beer">
        <input type="button" value="Check a Random Beer!">
    </a>
</form>
</div>